.home-view {
    text-align: center;
}

.Question {
    font-size: 3dvi;
}

.loginTestForm {
    width: 50dvw;
    height: 55dvh;
    display: block;
    margin: 0 auto;
    padding: auto;
    background-color: rgb(189, 219, 255);
}

h1 {
    margin-top: 0;
    font-size: 4dvi;
}

h2 {
    font-size: 2dvi;
    font-weight: 500;
}